div {
    width: 20vh;
    height: 24vh;
    border: solid black 1px;
    background-color: white;
    position: relative;
}

.back {
    margin: 1vh;
    border: 7vh dashed red;
    width: auto;
    height: 22vh;
    box-sizing: border-box;
}

.held {
    position: absolute;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
    user-select: none;
    font-size: 3.5vh;
    position: absolute;
}

.left {
    top: 1vh;
    left: 1vh;
}

.right {
    bottom: 1vh;
    right: 1vh;
}

.large {
    width: 100%;
    margin-top: 3.5vh !important;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-size: 13.5vh;
}

#host {
    user-select: none;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.red {
    color: red;
}

.black {
    color: black;
}