div {
  border: solid black 1px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  background-color: rgb(216, 46, 46);
  background-image:
    linear-gradient(to bottom, white 0%, white 5%, transparent 5%, transparent 100%),
    linear-gradient(to right, white 0%, white 5%, transparent 5%, transparent 100%),
    linear-gradient(to top, white 0%, white 5%, transparent 5%, transparent 100%),
    linear-gradient(to left, white 0%, white 5%, transparent 5%, transparent 100%);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.held {
  position: absolute;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
  user-select: none;
  position: absolute;
}

.left {
  top: 2%;
  left: 5%;
}

.right {
  bottom: 2%;
  right: 5%;
}

.large {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

#host {
  user-select: none;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.red {
  color: red;
}

.black {
  color: black;
}