:host {
    height: 100%;
    display: block;
    background-color: rgb(31, 85, 31);
}

.game {
    padding: 1vh;
}

p {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 25vh);
    grid-template-rows: 26vh 1fr;
}

.hand {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.deck {
    grid-row: 1/2;
    grid-column: 1/2;
}

.dealt {
    grid-row: 1/2;
    grid-column: 2/3;
}

.sort1 {
    grid-row: 1/2;
    grid-column: 4/5;
}

.sort2 {
    grid-row: 1/2;
    grid-column: 5/6;
}

.sort3 {
    grid-row: 1/2;
    grid-column: 6/7;
}

.sort4 {
    grid-row: 1/2;
    grid-column: 7/8;
}

.stack1 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.stack2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.stack3 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.stack4 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.stack5 {
    grid-row: 2/3;
    grid-column: 5/6;
}

.stack6 {
    grid-row: 2/3;
    grid-column: 6/7;
}

.stack7 {
    grid-row: 2/3;
    grid-column: 7/8;
}