<app-header></app-header>
<p>{{info}}</p>
<div class="game">
    <div class="hand" [style.left]="mx+'px'" [style.top]="my+'px'">
        <ng-template view="cards"></ng-template>
    </div>
    <div class="grid">
        <div class="dealt">
            <ng-template  view="dealt"></ng-template>
        </div>
        <div class="deck">
            <ng-template view="deck"></ng-template>
        </div>
        <div class="sort1">
            <ng-template view="sort1"></ng-template>
        </div>
        <div class="sort2">
            <ng-template  view="sort2"></ng-template>
        </div>
        <div class="sort3">
            <ng-template  view="sort3"></ng-template>
        </div>
        <div class="sort4">
            <ng-template  view="sort4"></ng-template>
        </div>
        <div class="stack1">
            <ng-template  view="stack1"></ng-template>
        </div>
        <div class="stack2">
            <ng-template  view="stack2"></ng-template>
        </div>
        <div class="stack3">
            <ng-template  view="stack3"></ng-template>
        </div>
        <div class="stack4">
            <ng-template  view="stack4"></ng-template>
        </div>
        <div class="stack5">
            <ng-template  view="stack5"></ng-template>
        </div>
        <div class="stack6">
            <ng-template  view="stack6"></ng-template>
        </div>
        <div class="stack7">
            <ng-template  view="stack7"></ng-template>
        </div>
    </div>
    
</div>
