<div class="hand" [style.left]="mx+'px'" [style.top]="my+'px'">
  <ng-template view="cards"></ng-template>
</div>
<div class="grid" [style.grid-template-rows]="rows" [style.grid-template-columns]="columns">
  <div class="deck">
    <ng-template view="deck"></ng-template>
  </div>
  <div class="sort1">
    <ng-template view="sort1"></ng-template>
  </div>
  <div class="sort2">
    <ng-template view="sort2"></ng-template>
  </div>
  <div class="sort3">
    <ng-template view="sort3"></ng-template>
  </div>
  <div class="sort4">
    <ng-template view="sort4"></ng-template>
  </div>
  <div class="sort5">
    <ng-template view="sort5"></ng-template>
  </div>
  <div class="sort6">
    <ng-template view="sort6"></ng-template>
  </div>
  <div class="sort7">
    <ng-template view="sort7"></ng-template>
  </div>
  <div class="sort8">
    <ng-template view="sort8"></ng-template>
  </div>
  <div class="stack1">
    <ng-template view="stack1"></ng-template>
  </div>
  <div class="stack2">
    <ng-template view="stack2"></ng-template>
  </div>
  <div class="stack3">
    <ng-template view="stack3"></ng-template>
  </div>
  <div class="stack4">
    <ng-template view="stack4"></ng-template>
  </div>
  <div class="stack5">
    <ng-template view="stack5"></ng-template>
  </div>
  <div class="stack6">
    <ng-template view="stack6"></ng-template>
  </div>
  <div class="stack7">
    <ng-template view="stack7"></ng-template>
  </div>
  <div class="stack8">
    <ng-template view="stack8"></ng-template>
  </div>
  <div class="stack9">
    <ng-template view="stack9"></ng-template>
  </div>
  <div class="stack10">
    <ng-template view="stack10"></ng-template>
  </div>
</div>